<template>
<div class="login-main-window">
	<form action="#" method="POST" class="login-form">
		<label for="email" class="login-label">Email:</label>
		<input
			type="email"
			placeholder="Insert your email address here"
			required
			v-model="email"
			>
		<br>
		<label for="password" class="login-label">Password</label>
		<input
			type="password"
			placeholder="Password"
			required
			v-model="password"
			>
		<br>
		<button type="button" v-on:click="login">Submit</button>
	</form>
	<div class="small-text">
		<p class="already-registered">
			Don't have an account? Ok then, just click
			<a href="https://www.google.ro/search?source=hp&ei=xGDbW5PnDo6GrwSbxYiQBQ&q=wait+until+the+next+sprint...+&oq=wait+until+the+next+sprint...+&gs_l=psy-ab.3...2514.8571.0.9126.33.27.0.1.1.0.393.4144.1j6j9j3.19.0....0...1c.1.64.psy-ab..14.10.1708.0..0j0i10k1j35i39k1j0i203k1j33i22i29i30k1j33i160k1.0.zhWDaW0lggw"
			class="register-redirection"
			target="_blank"
			>
				here
			</a>
			and we will handle it.
		</p>
	</div>
</div>
</template>

<script>
export default {
	name: 'Login',
	data: () => {
		return {
			email: '',
			password: ''
		}
	},
	methods: {
    login: function(e) {
		console.log(this.email);
		console.log(this.password);
    	e.preventDefault();
    }
  }
};
</script>

<style scoped>
.login-main-window {
	position: relative;
	display: block;
	padding: 8% 0 0;
	margin: auto;
	width: 64vh;
}
.login-form {
	position: relative;
	z-index: 1;
	background: #ffffff;
	max-width: 360px;
	margin: 0 auto 108px;
	padding: 48px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 16px;
	padding: 16px;
	box-sizing: border-box;
	font-size: 16px;
}
.login-form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4caf50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.login-form button:hover {
	background: #43a047;
}
.register-redirection {
	color: #4CAF50;
	text-transform: lowercase;
}
.register-redirection:hover {
	color: #5cf564;
}
@media (min-width: 768px) {
	.login-main-window {
		width: 700px;
		padding: 14px;
	}
	.login-form {
		max-width: 300px;
	}
	.login-form input {
		width: 90%;
	}
}

@media  (min-width: 400px) {
	.login-main-window {
		width: 360px;
		/* padding: 14px; */
	}
	/* .login-form {
		max-width: 300px;
	} */
}
</style>