<template>
	<div class="nav">
		<nav>
			<ul>
				<li class="nav-item">
					<router-link to="/">Home</router-link>
				</li>
				<li class="nav-item">
					<router-link to="/login">Login</router-link>
				</li>
				<li class="nav-item">
					<router-link to="/register">Register</router-link>
				</li>
			</ul>
		</nav>
	</div>
</template>

<script>
	export default {

	}
</script>

<style scoped>
	nav {
		width: 60vh;
		background-color: none;
	}
	.nav-item {
		color: #111;
	}
	.nav-item:hover {
		color: #444;
	}
	ul {
		list-style: none;
		display: inline-block;
	}
	li a {
		display: block;
		color: #333;
	}
	li a:hover {
		color: #777;
	}
</style>